CompileFlags:
  CompilationDatabase: build/dev
  Add:
    - -std=c++23
  Remove:
    - -mno-direct-extern-access

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: Strict

Index:
  Background: Build
