BasedOnStyle: LLVM

# Language / line length
Standard: Latest
ColumnLimit: 100

# Indentation
IndentWidth: 2
ContinuationIndentWidth: 2
TabWidth: 2
UseTab: Never

# Declarations / packing
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
BinPackParameters: false
BinPackArguments: false
NamespaceIndentation: None
PackConstructorInitializers: Never

# Spacing / alignment
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceInEmptyParentheses: false
PointerAlignment: Left
ReferenceAlignment: Left

# Braces
BreakBeforeBraces: Attach

# Includes
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<Q.*'
    Priority: 20
  - Regex: '^<.*'
    Priority: 10
  - Regex: '.*'
    Priority: 30
