BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
Standard: Latest
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
IncludeCategories:
  - Regex:           '^<Q.*'
    Priority:        20
  - Regex:           '^<.*'
    Priority:        10
  - Regex:           '.*'
    Priority:        30
